/* ESTILS GENERALS */

/* Per toda la web */
body {
    background-color: #e6f7ff;
    min-height: 100vh;
}

/* Google Fonts - Libre Baskerville + Source Serif 4 */
.libre-baskerville {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-serif-4 {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 376;
  font-style: normal;
}



/* Material Icons */
.material-symbols-outlined {
  font-size: 24px;
  transform: translateY(5px);
  margin-right: 5px;
}

.material-symbols-outlined.paleta {
  font-size: 40px;
  margin-right: 15px;
}

.material-symbols-outlined.fuente {
  font-size: 30px;
  margin-right: 15px;
}




/* Barra de Navegació */
.topnav {
    position: sticky;
    top: 20px;
    z-index: 1000;
    width: 100%;
    height: 65px; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 50, 100, 0.70); 
    backdrop-filter: blur(20px) saturate(150%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.topnav .logo {
    width: 48px;
    height: auto;
    display: block;
    margin-right: 12px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;     
    overflow-x: auto;        
    scrollbar-width: none;  
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: #99eeff;
}

.menu span {
    margin-right: 5px;
}

/* Area pel Contingut */
.contenido {
    width: 80%;
    margin: 0 auto;
    padding: 30px 50px;
}



/* ESTILS PER A index.html */
/* Secció Hero */
.hero {
    text-align: center;
    padding: 80px 0;
    color: #333;
}

.hero h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: 300;
}

.targetes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


/* Boton */
.boton {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 300;
    transition: background-color 0.3 ease, transform 0.3s ease;
}

.boton:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.boton .material-symbols-outlined {
    font-size: 20px;
    margin-right: 5px;
    transform: translateY(1px);
}


/* Targetes interactives */
.targeta {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 30px;
    width: 400px;
    height: 450px;
    border-radius: 12px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out, background-image 0.5s l;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.targeta p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
    color: #444;
    position: relative;
    z-index: 2;
}


.targeta.solid {
    background-image: url("assets/img/agua_solida.jpg");
    background-position: center 40px;
    transition: transform 0.8s ease-in-out;
}

.targeta.solid:hover {
    transform: translateX(-38px) rotate(-20deg);
}

.targeta.liquid {
    background-image: url("assets/img/agua_liquida.jpg");
    background-position: center 40px;
    transition: width 0.8s ease, height 0.8s ease;
}

.targeta.liquid:hover {
    width: 580px;
}

.targeta.gas {
    background-image: url("assets/img/agua_gaseosa.jpg");
    background-position: center 40px;
    opacity: 0.6;
    transition: opacity 0.8s ease;
}

.targeta.gas:hover {
    opacity: 1;
}


/* Menu Secundari */
.contenedor {
    margin: 120px 0;
    text-align: center;
}

.contenedor h1 {
    font-size: 3.5em;
    margin-bottom: 50px;
    color: #333;
}

.secondary {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 80px;
}


.secondary a {
    color: #444;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: normal;
    transition: color 0.4 ease, letter-spacing 0.4s ease;
}

.secondary a:hover {
    color: #007bff;
    letter-spacing: 4px;
}

/* ESTILS PER A galeria.html */

/* Titul */
.titulo {
    text-align: center;
    padding: 80px 0;
    color: #333;
    font-size: 1.9em;
    margin-bottom: 10px;
}


/* Contenidor per a l'Aigua */
.animacion-contenedor {
    background-color: #d2eaff;
    margin: 50px auto;
    width: 800px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animacion-contenedor.movimiento {
    display: block;
    margin-bottom: 1000px;
}


/* Estats de l'Aigua */
.h2o-state {
    animation: h2o-estados 6s infinite;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute; 
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}


/* Tamany Gota */
.gota {
    width: 50px;
    height: 50px;
    transform: scale(1);
    animation: tamany 1.5s ease-in-out infinite alternate;
}


/* Scroll amb Gotes */
.aigua {
    --box-size: 120px;
    width: var(--box-size);
    height: var(--box-size);
    position: absolute;
}

.aigua.material-symbols-outlined {
    font-size: 80px;
}

.aigua.negra {
    color: black;
    bottom: 50px;
    right: 0;
}

.aigua.azul {
    color: #007bff;
    bottom: 0;
    left: 0;
}

.aigua.oscuro {
    color: #003264;
    top: 0;
    left: 345px;
    bottom: auto;
}


/* Animacions de l'Aigua */

/* Animació per l'Estats de l'Aigua */
@keyframes h2o-estados {
    /* Estat Liquid */
    0%, 100% {
        background-color: #007bff;
        border-radius: 50%;
        transform: scale(1) translateY(0) translateX(-350px);
        opacity: 1;
    }


    /* Estat Gaseos */
    37.5%, 50% {
        background-color: #003264;
        border-radius: 80%;
        transform: scale(1.5) translateY(-330px) translateX(0);
        opacity: 0.25;
    }


    /* Estat Sòlid */
    62.5%, 75% {
        background-color: #ffffff;
        border-radius: 10%;
        transform: scale(0.8) translateY(0) translateX(350px) rotate(45deg);
        opacity: 1;
    }


    /* Transició a Líquid */
    87.5% {
        background-color: #007bff;
        border-radius: 50%;
        transform: scale(1) translateY(0) translateX(-175px); 
        opacity: 1;        
    }
}


/* Animació per el Tamany Gota */
@keyframes tamany {
    /* És redueix */
    0% {
        transform: scale(1);
        opacity: 0.9;
    }

    50% {
        transform: scale(1.15);
        opacity: 1;
    }


    /* És normalitza */
    100% {
        transform: scale(12);
        opacity: 0.9;
    }
}


/* Animació per Scroll */

/* Moure de la Dreta a la Esquerra Horizontalment*/
@keyframes rightToLeft {
    from { 
        transform: translateX(0) translateY(0) rotate(0deg); 
    }
    to { 
        transform: translateX(-690px) translateY(0) rotate(-360deg); 
    }    
}

/* Moure de la Esquerra a la Dreta Diagonalment */
@keyframes diagonalUpRight {
    from { 
        transform: translateX(0) translateY(0) rotate(0deg); 
    }
    to { 
        transform: translateX(690px) translateY(-570px) rotate(360deg); 
    }    
}

/* Moure d'Adal a Baix */
@keyframes topToBottom {
    from { 
        transform: translateX(0) translateY(0) rotate(0deg); 
    }
    to { 
        transform: translateX(0) translateY(570px) rotate(180deg); 
    }    
}


/* Scroll-reveal per les Gotes */
@supports (animation-timeline: view()) {
    /* Aigua Negra de Inferior Dreta a Inferior Esquerra */
    .aigua.negra {
        animation: rightToLeft linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 100%;
    }

    /* Aigua Azul de Inferior Esquerra a Superior Dreta */
    .aigua.azul {
        animation: diagonalUpRight linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 100%;
    }

    /* Aigua Oscuro de Superior Centre a Inferior Centre */
    .aigua.oscuro {
        animation: topToBottom linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 100%;
    }  
    
    .fallbackNote {
        display: none;
    }
}


/* Fallback per les Aigues */
@supports not (animation-timeline: view()) {
  .fallbackNote {
    background: rgba(255,255,255,0.9);
    border-radius: 4px;
    color: #c00;
    display: block;
    font-size: 0.9rem;
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
  }
}




/* ESTILS PER A guia-estil.html */
.contenido-dentro {
    margin-left: 50px;
}

.tipografia h2, .alineacion h2, .iconos h2, .colores h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.alineacion h2, .iconos h2, .colores h2 {
    margin-top: 80px;
}

/* Fonts i Pesos */
.tipografia-tipo h1 .tipografia-tipo h2, .tipografia-tipo h2 {
    margin-top: 30px;
    margin-bottom: 5px;
}
.tipo-h1 {
    font-size: 3em;
    line-height: 1.1;
    letter-spacing: -0.05em;
    color: #003264;
}

.tipo-h2 {
    font-size: 2em; 
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #0056b3;
}

.tipo-h3 {
    font-size: 1.5em;
    line-height: 1.3;
    letter-spacing: 0;
    color: #007bff;
}

.tipo-p {
    font-size: 1em;
    line-height: 1.6;
    letter-spacing: 0.01em;
    margin-bottom: 1.2em;
}

.tipo-weight-700 {
    font-weight: 700;
}   

.tipo-weight-600 {
    font-weight: 600;
}

.tipo-weight-500 {
    font-weight: 500;
}

.tipo-weight-400 {
    font-weight: 400;
}

.tipo-weight-300 {
    font-weight: 300;
}


/* Icona + Text */
.alineacion {
    padding: 20px 0;
}

.alineacion-ejemplo {
    font-size: 1.8rem;
    color: #333;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.alineacion-ejemplo.baseline {
    align-items: baseline;
    font-size: 2rem;
}

.alineacion-ejemplo.baseline .material-symbols-outlined {
    transform: translateY(0);
}

.alineacion-ejemplo.baseline .text-con-icono {
    transform: translateY(-0.15em);
}

.alineacion-ejemplo.centro {
    align-items: center;
    font-size: 2rem;
}

.text-con-icono {
    margin-right: 8px;
    color: #007bff;
}


/* Material Icons: Mides i Pesos */
.icono-normal {
    font-size: 24px;
    font-variation-settings: 'opsz' 24, 'wght' 300, 'FILL' 0;
    color: #007bff;
}

.icono-grande {
    font-size: 40px;
    font-variation-settings: 'opsz' 40, 'wght' 300, 'FILL' 1;
    color: #003264
}

.icono-pequeño {
    font-size: 20px;
    font-variation-settings: 'opsz' 20, 'wght' 700, 'FILL' 0;
    color: #0056b3;
}

.icono-variable {
    font-size: 48px;
    font-variation-settings: 'opsz' 48, 'wght' 100, 'FILL' 0;
    color: #007bff;
}

.iconos table td:first-child {
    font-weight: 400;
    background-color: #d2eaff;
}


/* Botons i Links */
.guia {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 80px;
}


/* Colors */
.hex {
    background-color: #003264;
}

.rgb {
    background-color: rgb(0, 50, 100);
}

.hsl {
    background-color: hsl(210, 100%, 20%);
}

.rgba {
    background-color: rgba(0, 50, 100, 0.5);
}

.hsla {
    background-color: hsla(210, 100%, 20%, 0.8);
}

.colors table {
    width: 60%;
    margin-top: 20px;
}

.colors table td:first-child {
    background-color: #d2eaff;
    width: 15px;
}

.colors table thead {
    background-color: #007bff;
    color: white
}

/* Taula */
table {
    border: 1px solid #99eeff;
    border-collapse: collapse;
    box-shadow: 0 2px 8 px rgba(0, 0, 0, 0.5);
    width: 80%;
}

table thead {
    background-color: #0056b3;
    color: white;
    text-align: left;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table td:first-child {
    text-align: center;
}

table tbody tr:nth-child(odd) {
    background-color: var(--color-odd-row);
}

table tbody tr:hover {
    background: #d2eaff;
}





/* ESTILS PER A MOVILS */
@media (max-width: 768px) {
    /* ESTILS GENERALS */

    /* Barra de Navegació */
    .topnav {
        width: 100%;
        margin: 0;
        padding: 20px 15px;
        justify-content: center;
    }

    .topnav .logo {
        display: none;
    }

    
    .menu {
        justify-content: center;
        gap: 20px;
    }

    /* Area pel Contingut */
    .contenido {
        padding: 20px 15px;
    }



    /* ESTILS PER A index.html */

    /* Secció Hero */
    .hero {
        padding: 40px 10px;
    }

    .hero h1 {
        font-size: 1.9em;
    }

    .hero p {
        font-size: 1em;
    }


    /* Targetes interactives */
    .targetes {
        flex-direction: column;
        gap: 20px;
    }

    .targeta {
        width: 300px;
        height: 300px;
        padding: 6px 18px;
        border-radius: 12px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .targeta.solid {
        transition: transform 0.8s ease-in-out;
    }

    .targeta.solid:hover {
        transform: rotate(5deg);
    }

    .targeta.liquid {
        transition: width 0.8s ease, height 0.8s ease;
    }

    .targeta.liquid:hover {
        height: 400px;
        width: 300px;
    }

    .targeta.gas {
        transition: opacity 0.8s ease;
    }

    .targeta.gas:hover {
        opacity: 1;
    }

    
    /* Menu Secundari */
    .contenedor h1 {
        font-size: 1.9em;
    }

    .secondary {
        flex-direction: column;
    }

    .secondary a {
        font-size: 1.4em;
        transition: color 0.4s ease, letter-spacing 0.4s ease;
    }
    


    /* ESTILS PER A galeria.html */

    /* Titul */
    .titulo {
       font-size: 1em; 
    }


    /* Contenidor per a l'Aigua */
    .animacion-contenedor {
        width: 330px;
        height: 300px;
        margin: 50px auto auto -10px;
    }

    .animacion-contenedor.movimiento {
        margin-bottom: 575px;
        display: block;
    }


    /* Estats de l'Aigua */
    .h2o-state {
        height: 50px;
        width: 50px;
        bottom: 20px;
    }


    /* Tamany Gota */
    .gota {
        width: 25px;
        height: 25px;
    }


    /* Scroll Aigua */
    .aigua {
        --box-size: 50px;
        width: var(--box-size);
        height: 35px;
    }

    .aigua.material-symbols-outlined {
        font-size: 50px;
    }

    .aigua.negra {
        bottom: 20px;
    }

    .aigua.azul {
        bottom: 20px;
    }

    .aigua.oscuro {
        left: 150px;
    }


    /* Animació per l'Estats de l'Aigua */
    @keyframes h2o-estados {
        /* Estat Liquid */
        0%, 100% {
            background-color: #007bff;
            border-radius: 50%;
            transform: scale(1) translateY(0) translateX(-150px);
            opacity: 1;
        }


        /* Estat Gaseos */
        37.5%, 50% {
            background-color: #003264;
            border-radius: 80%;
            transform: scale(1.5) translateY(-130px) translateX(0);
            opacity: 0.25;
        }


        /* Estat Sòlid */
        62.5%, 75% {
            background-color: #ffffff;
            border-radius: 10%;
            transform: scale(0.8) translateY(0) translateX(130px) rotate(45deg);
            opacity: 1;
        }


        /* Transició a Líquid */
        87.5% {
            background-color: #007bff;
            border-radius: 50%;
            transform: scale(1) translateY(0) translateX(-75px); 
            opacity: 1;        
        }
    }


    /* Animació per el Tamany Gota */
    @keyframes tamany {
        /* És redueix */
        0% {
            transform: scale(1);
            opacity: 0.9;
        }


        /* És normalitza */
        100% {
            transform: scale(10);
            opacity: 1;
        }
    }



    /* Animació per Scroll */

    /* Moure de la Dreta a la Esquerra Horizontalment*/
    @keyframes rightToLeft {
        from { 
            transform: translateX(0) translateY(0) rotate(0deg); 
        }
        to { 
            transform: translateX(-300px) translateY(0) rotate(-360deg);
        }    
    }

    /* Moure de la Esquerra a la Dreta Diagonalment */
    @keyframes diagonalUpRight {
        from { 
            transform: translateX(0) translateY(0) rotate(0deg); 
        }
        to { 
            transform: translateX(300px) translateY(-245px) rotate(-360deg);
        }   
    }

    /* Moure d'Adal a Baix */
    @keyframes topToBottom {
        from { 
            transform: translateX(0) translateY(0) rotate(0deg); 
        }
        to { 
            transform: translateX(0) translateY(245px) rotate(180deg);
        }   
    }




    /* ESTILS PER A guia-estil.html */
    .contenido-dentro {
        margin-left: 0;
    }

    .tipografia h2, .alineacion h2, .iconos h2, .colores h2 {
        margin-bottom: 15px;
        font-size: 1.5em;
    }

    .alineacion h2, .iconos h2, .colores h2 {
        margin-top: 40px;
    }


    /* Fonts i Pesos */
    .tipografia-tipo h1, .tipografia-tipo h2, .tipografia-tipo h3 {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .tipo-h1 {
        font-size: 2em;
        line-height: 1.2;
        letter-spacing: -0.05em;
    }

    .tipo-h2 {
        font-size: 1.5em;
        line-height: 1.3;
        letter-spacing: -0.02em;
    }

    .tipo-h3 {
        font-size: 0.9em;
        line-height: 1.7;
    }


    /* Icona + Text */
    .alineacion {
        padding: 10px 0;
    }

    .alineacion-ejemplo {
        font-size: 1.2rem;
    }

    .alineacion-ejemplo.baseline, .alineacion-ejemplo.centro {
        font-size: 1.5rem;
    }

    .text-con-icono {
        margin-right: 5px;
    }


    /* Material Icons: Mides i Pesos */
    .icono-normal {
        font-size: 20px;
        font-variation-settings: 'opsz' 20, 'wght' 300, 'FILL' 0;
    }

    .icono-grande {
        font-size: 32px;
        font-variation-settings: 'opsz' 32, 'wght' 300, 'FILL' 1;
    }

    .icono-pequeño {
        font-size: 16px;
        font-variation-settings: 'opsz' 16, 'wght' 700, 'FILL' 0;
    }

    .icono-variable {
        font-size: 40px;
        font-variation-settings: 'opsz' 40, 'wght' 100, 'FILL' 0;
    }

    /* Botons i Links */
    .contenido-dentro.secondary li {
        margin-bottom: -200px;
    }

    .guia {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: left;
        gap: 40px;
    }

    .guia a {
        font-size: 1.4em;
        transition: color 0.4s ease, letter-spacing 0.4s ease;
    }

    
    /* Taula  (Colors i Icones) */ 
    table {
        width: 100%;
        font-size: 0.8em;
    }

    .colors table {
        width: 100%;
    }
}

