/* ESTILS GENERALS */

/* Per toda la web */
body {
    background-color: #f0f0f0;
    min-height: 100vh;
}

/* Google Fonts - Libre Baskerville + Source Serif 4 */
.libre-baskerville {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-serif-4 {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 376;
  font-style: normal;
}



/* Material Icons */
.material-symbols-outlined {
  font-size: 24px;
  transform: translateY(5px);
  margin-right: 5px;
}



/* Barra de Navegació */
.topnav {
    position: sticky;
    top: 20px;
    z-index: 1000;
    width: 100%;
    height: 55px; 
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgba(0, 0, 0, 0.40); 
    backdrop-filter: blur(10px) saturate(150%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;     
    overflow-x: auto;        
    scrollbar-width: none;  
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: #ffffff;
}

.menu span {
    margin-right: 5px;
}

/* Area pel Contingut */
.contenido {
    width: 80%;
    margin: 0 auto;
    padding: 30px 50px;
}



/* ESTILS PER A index.html */




/* ESTILS PER A galeria.html */




/* ESTILS PER A guia-estil.html */




/* ESTILS PER A MOVILS */
@media (max-width: 768px) {
    /* ESTILS GENERALS */

    /* Barra de Navegació */
    .topnav {
        width: 100%;
        margin: 0;
        padding: 20px 15px;
        justify-content: center;
    }

    
    .menu {
        justify-content: center;
        gap: 12px;
    }

    /* Area pel Contingut */
    .contenido {
        padding: 20px 15px;
    }



    /* ESTILS PER A index.html */




    /* ESTILS PER A galeria.html */




    /* ESTILS PER A guia-estil.html */
}

