/* ESTILS GENERALS */

/* Per toda la web */
body {
    background-color: #e6f7ff;
    min-height: 100vh;
}

/* Google Fonts - Libre Baskerville + Source Serif 4 */
.libre-baskerville {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-serif-4 {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 376;
  font-style: normal;
}



/* Material Icons */
.material-symbols-outlined {
  font-size: 24px;
  transform: translateY(5px);
  margin-right: 5px;
}



/* Barra de Navegació */
.topnav {
    position: sticky;
    top: 20px;
    z-index: 1000;
    width: 100%;
    height: 55px; 
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgba(0, 50, 100, 0.60); 
    backdrop-filter: blur(10px) saturate(150%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;     
    overflow-x: auto;        
    scrollbar-width: none;  
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: #99eeff;
}

.menu span {
    margin-right: 5px;
}

/* Area pel Contingut */
.contenido {
    width: 80%;
    margin: 0 auto;
    padding: 30px 50px;
}



/* ESTILS PER A index.html */
/* Secció Hero */
.hero {
    text-align: center;
    padding: 80px 0;
    color: #333;
}

.hero h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: 300;
}

.targetes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


/* Targetes interactives */
.targeta {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.targeta p {
    font-size: 1.5em;
    color: #444;
}

.targeta img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.targeta.solid img {
    transition: transform 1.5s ease-in-out;
}

.targeta.solid img:hover {
    transform: rotate(5deg)
}

.targeta.liquid img {
    transform: transform 0.8s ease-in-out;
}

.targeta.liquid img:hover {
    transform: scale(1.14);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.targeta.gas img {
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

.targeta.gas img:hover {
    opacity: 1;
}


/* Menu Secundari */
.contenedor {
    margin: 120px 0;
    text-align: center;
}

.contenedor h1 {
    font-size: 3.5em;
    margin-bottom: 50px;
    color: #333;
}

.secondary {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 80px;
}


.secondary a {
    color: #444;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: normal;
    transition: color 0.4 ease, letter-spacing 0.4s ease;
}

.secondary a:hover {
    color: #007bff;
    letter-spacing: 4px;
}

/* ESTILS PER A galeria.html */

/* Titul */
.titulo {
    text-align: center;
    padding: 80px 0;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Contenidor per a l'Aigua */
.animacion-contenedor {
    background-color: #d2eaff;
    margin: 50px auto;
    width: 800px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estats de l'Aigua */
.h2o-state {
    animation: h2o-estados 6s infinite;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute; 
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}

/* Tamany Gota */
.gota {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    border-radius: 10px;
    transform: scale(1);
    animation: tamany 1.5s ease-in-out infinite alternate;
}


/* Animacions de l'Aigua */

/* Animació per l'Estats de l'Aigua */
@keyframes h2o-estados {
    /* Estat Liquid */
    0%, 100% {
        background-color: #007bff;
        border-radius: 50%;
        transform: scale(1) translateY(0) translateX(-350px);
        opacity: 1;
    }


    /* Estat Gaseos */
    37.5%, 50% {
        background-color: #003264;
        border-radius: 80%;
        transform: scale(1.5) translateY(-330px) translateX(0);
        opacity: 0.25;
    }


    /* Estat Sòlid */
    62.5%, 75% {
        background-color: #ffffff;
        border-radius: 10%;
        transform: scale(0.8) translateY(0) translateX(350px) rotate(45deg);
        opacity: 1;
    }


    /* Transició a Líquid */
    87.5% {
        background-color: #007bff;
        border-radius: 50%;
        transform: scale(1) translateY(0) translateX(-175px); 
        opacity: 1;        
    }
}


/* Animació per el Tamany Gota */
@keyframes tamany {
    /* És redueix */
    0% {
        transform: scale(1);
        opacity: 0.9;
    }


    /* És normalitza */
    100% {
        transform: scale(12);
        opacity: 0.7;
    }
}



/* ESTILS PER A guia-estil.html */




/* ESTILS PER A MOVILS */
@media (max-width: 768px) {
    /* ESTILS GENERALS */

    /* Barra de Navegació */
    .topnav {
        width: 100%;
        margin: 0;
        padding: 20px 15px;
        justify-content: center;
    }

    
    .menu {
        justify-content: center;
        gap: 20px;
    }

    /* Area pel Contingut */
    .contenido {
        padding: 20px 15px;
    }



    /* ESTILS PER A index.html */

    /* Secció Hero */
    .hero {
        padding: 40px 10px;
    }

    .hero h1 {
        font-size: 1.9em;
    }

    .hero p {
        font-size: 1em;
    }


    /* Targetes interactives HACER LAS TRANSICIONES!!*/
    .targetes {
        flex-direction: column;
        gap: 20px;
    }
    
    /* Menu Secundari HACER LAS TRANSICIONES!!*/
    .contenedor h1 {
        font-size: 1.9em;
    }

    .secondary {
        flex-direction: column;
    }

    .secondary a {
        font-size: 1.4em;
    }
    


    /* ESTILS PER A galeria.html */




    /* ESTILS PER A guia-estil.html */
}

